In [1]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,3,2021)

myTuple = ("NPower","JDA","Tuesday",30,3,2021)

In [2]:
#Q2 What is the type of myTuple
type(myTuple)

tuple

In [3]:
#Q3 What is the length of myTuple
len(myTuple)

6

In [6]:
#Q4 print the values in each index #Use regular indexing
for i in range(len(myTuple)):
    print(myTuple[i])

NPower
JDA
Tuesday
30
3
2021

In [10]:
#Q5 print the values in each index #Use negative indexing
i = 1
index = len(myTuple) + 1
while i in range(index):
    print(myTuple[-i])
    i += 1

2021
3
30
Tuesday
JDA
NPower

In [11]:
#Q6 what is the type of each value
mytype = list(map(type,myTuple))
print(str(mytype))

[<class 'str'>, <class 'str'>, <class 'str'>, <class 'int'>, <class 'int'>, <class 'int'>]

In [14]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year
# print the variables
(name, program, dayName, month, day, year) = myTuple
print(name)
print(program)
print(dayName)
print(month)
print(day)
print(year)

NPower
JDA
Tuesday
30
3
2021

In [17]:
#Q8 unpack myTuple2 in the follwoeing variables name,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)

(name, program, *dayName) = myTuple
print(name)
print(program)
print(dayName)

NPower
JDA
['Tuesday', 30, 3, 2021]

In [20]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements
Tuple2=("Ulan",)#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value
a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)
d=Tuple2
print(type(d))
print(d)
e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'tuple'>
('Ulan',)
Leul

In [21]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory
#and hold a different information
testTuple=(1,2,3)
print(testTuple)
testTuple=(4,5,6)
print(testTuple)
#But we can't change or edit a value for the existing tuple
testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [22]:
#Q9 Reverse myTuple, output should looks like (2021,3,30,"Tuesday","JDA","NPower"
print(myTuple[::-1])

(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')

In [23]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
t1 = ("Coursera","course",6)
t2 = (2,"Lists","Tuple")
t3 = ('week',t2)

nestedTuple = (t1,t3)
print(nestedTuple)

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [24]:
#Q11 What is the output of nestedTuple[1:2]
print(nestedTuple[1:2])

(('week', (2, 'Lists', 'Tuple')),)

In [28]:
#Q12 print each element in the nestedTuple
for item in nestedTuple:
    print(*item)

Coursera course 6
week (2, 'Lists', 'Tuple')

In [29]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[1][1]

(2, 'Lists', 'Tuple')

In [30]:
#Q14 Access the value "Lists" from nestedTuple
nestedTuple[1][1][1]

'Lists'

In [31]:
#Q15 Access the value "Tuple" from nestedTuple
nestedTuple[1][1][2]

'Tuple'

In [32]:
#Q16 Access the value "course" from nestedTuple
nestedTuple[0][1]

'course'

In [33]:
#Q17 Concatenate myTuple with nestedTuple
newTuple = myTuple + nestedTuple
print(newTuple)

('NPower', 'JDA', 'Tuesday', 30, 3, 2021, ('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [36]:
#Q18 add your name to the tuple
name = ('Cam',)
newTuple += name
print(newTuple)

('NPower', 'JDA', 'Tuesday', 30, 3, 2021, ('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')), 'Cam')

In [38]:
#Q19 check whether Coursera exists within myTuple
# NOTE "in" doesn't work properly with nested tuples

for i in nestedTuple:
    if "Coursera" in i:
        print(True)

True

In [39]:
#Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)

print(55 in testTuple)

True

In [41]:
#Q21 Find the index of JDA in myTuple
print(myTuple.index('JDA'))

# Find the index of 'Coursera' in newTuple
# NOTE index doesn't work properly with nested tuples # Wrong output
   
print(newTuple.index('Coursera'))

1

ValueError: tuple.index(x): x not in tuple

In [42]:
#Q22 print index 8 from newTuple
print(newTuple[8])

Cam

In [43]:
#Q23 Get the 4th element from the begining of myTuple and 4th element from last o
print(myTuple[3])
print(myTuple[-4])

30
Tuesday

In [44]:
#Q24 Find how many times 55 appeared in testTuple [Hint: Use method count()]
testTuple.count(55)

2