In [12]:
import pandas as pd
d={'Mouse':[150,200,300,400],
   'Keyboard':[180,200,190,300],
   'Scanner':[200,280,330,450]}
df=pd.DataFrame(d)
df.index = (['Jan','Feb','March','April'])

In [21]:
# A. Write code to access data of Mouse and Scanner columns.
df[['Mouse','Scanner']]

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [18]:
# B.Write code to access data of the Keyboard column using dot notation and column name.
df.Keyboard

Jan      180
Feb      200
March    190
April    300
Name: Keyboard, dtype: int64

In [20]:
# C.Write code to access data of scanners using loc[].
df.loc[:,['Scanner']]

       Scanner
Jan        200
Feb        280
March      330
April      450

In [23]:
# D.Write code to access data of all columns where mouse data is more than 200.
df[df.Mouse > 200]

       Mouse  Keyboard  Scanner
March    300       190      330
April    400       300      450

In [24]:
# E.Write code to access columns using 0 and 2.
df.iloc[:,[0,2]]

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [25]:
# F. Write code to access data of rows of jan and march for scanner and keyboard
df.loc[['Jan', 'March'],['Scanner','Keyboard']]

       Scanner  Keyboard
Jan        200       180
March      330       190