In [1]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
!pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
!pip install ipython-sql

Collecting ibm_db==3.1.0
  Using cached ibm_db-3.1.0-py3-none-any.whl
Collecting ibm_db_sa==0.3.3
  Using cached ibm_db_sa-0.3.3-py3-none-any.whl
Collecting sqlalchemy>=0.7.3
  Using cached SQLAlchemy-2.0.6-cp39-cp39-win_amd64.whl (2.0 MB)
Collecting typing-extensions>=4.2.0
  Using cached typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Collecting greenlet!=0.4.17
  Using cached greenlet-2.0.2-cp39-cp39-win_amd64.whl (192 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy, ibm-db-sa, ibm-db
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.5.0
    Uninstalling typing-extensions-4.5.0:
      Successfully uninstalled typing-extensions-4.5.0
  Attempting uninstall: greenlet
    Found existing installation: greenlet 2.0.2
    Uninstalling greenlet-2.0.2:
      Successfully uninstalled greenlet-2.0.2
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.6
    Uninstalling SQLAlchemy-2.0.6:
      Successfully uninstalled SQLAlchemy-2.0.6
  Attempting uninstall: ibm-db-sa
    Found existing installation: ibm-db-sa 0.3.3
    Uninstalling ibm-db-sa-0.3.3:
      Successfully uninstalled ibm-db-sa-0.3.3
  Attempting uninstall: ibm-db
    Found existing installation: ibm-db 3.1.0
    Uninstalling ibm-db-3.1.0:
      Successfully uninstalled ibm-db-3.1.0
Successfully installed greenlet-2.0.2 ibm-db-3.1.0 ibm-db-sa-0.3.3 sqlalchemy-2.0.6 typing-extensions-4.5.0
Found existing installation: SQLAlchemy 2.0.6
Uninstalling SQLAlchemy-2.0.6:
  Successfully uninstalled SQLAlchemy-2.0.6
Collecting sqlalchemy==1.3.24
  Using cached SQLAlchemy-1.3.24-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.24

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.24 which is incompatible.

Requirement already satisfied: ipython-sql in c:\users\13068\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: sqlparse in c:\users\13068\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Collecting sqlalchemy>=2.0
  Using cached SQLAlchemy-2.0.6-cp39-cp39-win_amd64.whl (2.0 MB)
Requirement already satisfied: prettytable in c:\users\13068\anaconda3\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: six in c:\users\13068\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in c:\users\13068\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: ipython-genutils in c:\users\13068\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\13068\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\13068\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: pickleshare in c:\users\13068\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in c:\users\13068\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\13068\anaconda3\lib\site-packages (from ipython->ipython-sql) (61.2.0)
Requirement already satisfied: stack-data in c:\users\13068\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\13068\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.4)
Requirement already satisfied: backcall in c:\users\13068\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\13068\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\13068\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in c:\users\13068\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in c:\users\13068\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\13068\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\13068\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\13068\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\13068\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\13068\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\13068\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-2.0.6

In [2]:
%load_ext sql

In [3]:
# import csv, sqlite3

# con = sqlite3.connect("Hospitalinfo.db")
# cur = con.cursor()

In [4]:
%sql sqlite:///Hospitalinfo.db

In [5]:
%sql select * from hospital

 * sqlite:///Hospitalinfo.db
Done.

[(101, 'Mayo Clinic', 230),
 (102, 'JP Hoplkins', 130),
 (103, 'New Amsterdam', 200),
 (104, 'Clevland Clinic', 30),
 (105, 'Toronto Hopital', 180),
 (106, 'Natura', 150),
 (107, 'Johnson and Johnson', 600)]

In [6]:
%sql select * from doctor

 * sqlite:///Hospitalinfo.db
Done.

[(1, 'Michael', 101, '2005-02-10', 'Pediatric', '10', 900000.0),
 (2, 'Linda', 101, '2007-08-08', 'Gyane', '5', 850000.0),
 (3, 'William', 102, '2004-09-11', 'Cardialogist', '11', 1000000.0),
 (4, 'Richard', 101, '2011-09-05', 'Pediatric', '12', 950000.0),
 (5, 'Karen', 103, '2020-09-05', 'Oncologist', '15', 1100000.0),
 (6, 'Robert', 104, '1998-09-04', 'Gyane', '14', 940000.0),
 (7, 'Susan', 105, '1994-06-05', 'Oncologist', '11', 870000.0),
 (8, 'Nancy', 106, '1994-06-05', 'Cardialogist', '28', 870000.0),
 (9, 'Nick', 107, '2019-06-05', 'Cardialogist', '9', 770000.0)]